@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab");
* {
  transition: all 0.3s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  background-color: #ddd;
  width: 100%;
  min-width: 200px;
  font-family: Roboto;
  color: #000;
}

#header {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  background-color: #ddd;
  color: #444;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#logo-and-name {
  display: flex;
  font-family: "Roboto Slab";
}
#header-img {
  max-width: 50px;
  max-height: 50px;
  display: block;
  margin: 0 5px 0 5px;
}
#nav-bar {
  position: relative;
  right: -8%;
  width: 38vw;
}
.nav-link {
  color: #444;
  text-decoration: none;
}
.nav-link:hover {
  color: #888;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
li {
  margin: 0 5px 0 5px;
}
.page-sections {
  margin-top: 60px;
  color: #000;
}
.section-display {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 30px auto;
}
.icon {
  color: rgba(214, 92, 0, 1);
  width: 70px;
  font-size: 3em;
  text-align: center;
}
#features::before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}
#what-is-concrete {
  text-align: center;
}
#what-is-concrete::before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}
#types {
  display: flex;
  justify-content: space-around;
}
#types::before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}
.types-display {
  width: 25%;
  border: 3px solid DarkSlateGray;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px 40px 20px;
}
.types-display h2 {
  margin: 1px 0 10px 0;
}
#subscribe {
  display: block;
  text-align: center;
  padding-bottom: 20px;
}
#subscribe::before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}
#subscribe h2 {
  margin: 10px 0 10px 0;
}
#email {
  background-color: transparent;
  border: 2px solid DarkSlateGray;
  border-radius: 3px;
  width: 33%;
  height: 2.5em;
  font-size: 1em;
}
#submit {
  background-color: rgba(214, 92, 0, 1);
  border: 1px solid rgba(214, 92, 0, 1);
  border-radius: 3px;
  width: 13%;
  height: 2.5em;
  font-size: 1em;
}
#submit:hover {
  background-color: rgba(214, 92, 0, 0.8);
  border: 1px solid rgba(214, 92, 0, 0.8);
}
#submit:active {
  position: relative;
  top: 1px;
}
#footer {  
  width: 100%;
  margin: auto;
  text-align: right;
  background-color: #ddd;
  font-size: 0.8em;
}

#footer p {
  color: #000;
}
@media (max-width: 700px) {
  #header{
    flex-direction: column;
    justify-content: flex-start;
    max-width: 150px;
    left: 0;
    height: 100%;
    }
  #logo-and-name{
    flex-direction: column;   
  }
  ul{
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
  }
  li{
    margin-right: 78px;    
  }
  #container{
    margin-left: 150px;
    width: 76vw;
  }
  #video{
    width: 60%;
  }
  #types{
    flex-direction: column;
  }
  .types-display{
    width: 70%;
    margin: 0 auto 20px;
    
  }
  }
  